demo-angular/node_modules
demo-angular/dist
demo-angular/.angular
demo-angular/.vscode
demo-angular/src/environments/environment*.ts
demo-angular/.idea
demo-angular/*.log
demo-angular/.DS_Store
demo-angular/.npm
demo-angular/.sass-cache
demo-angular/.cache
demo-angular/coverage
demo-angular/e2e/coverage
demo-angular/e2e/reports
demo-angular/reports
demo-angular/.nyc_output
demo-angular/tsconfig*.json
demo-angular/jest.config.js
demo-angular/ngsw-worker.js
demo-angular/*.iml
demo-angular/.history
demo-angular/.pnp.*
demo-angular/.turbo
demo-angular/.parcel-cache
demo-angular/.expo
demo-angular/.expo-shared
demo-angular/dist-ssr
demo-angular/out-tsc
demo-angular/.firebase
demo-angular/firebase-debug.log
demo-angular/.firebase/*
!demo-angular/.firebase/hosting.cache
demo-angular/.firebase/*.log
demo-angular/.firebase/*.json
demo-angular/.firebase/functions/node_modules